{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>About</h1>
        <hr>
        <p>Game of tic-tac-toe over the web! Simple human vs computer! Classic rules apply!</p>
        <p>
            Made with:
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Sijax</li>
            </ul>

        </p>
        <p>Find the code on <a href="https://github.com/sjolicoeur/tic-tac-toe" alt="find the code here">GitHub</a></p>
    </div>
</div>
    

{% endblock %}